<!-- login page -->
<div class="container d-flex justify-content-center align-items-center vh-100">
  <form
    action="/create-session"
    method="POST"
    class="col-11 col-md-9 col-lg-5 p-4 shadow rounded fw-semibold"
    style="background-color: #f8f9fa;"
  >
    <!-- heading -->
    <div class="text-center mb-4">
      <h1 style="color: #176B87;">Login</h1>
    </div>
    <!-- email of user -->
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Enter your email"
        required
      />
    </div>
    <!-- password of user -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Enter your password"
        required
      />
    </div>
    <!-- submit button -->
    <div class="d-grid mb-3">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="text-center">
      <p>
        <!-- link for sign up -->
        Don't have an account?
        <a href="/sign-up" class="text-decoration-none" style="color: #176B87;">Sign Up</a>
        instead.
      </p>
    </div>
  </form>
</div>
